{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Nuestro Equipo</p>
                <h2 class="fw-bold">Nuestros talentos</h2>
                <p class="text-muted">No importa el problema, nuestro equipo puede manejarlo.&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-2 mx-auto" style="max-width: 700px;">
            <!-- About init -->
            {% for about in about_obj reversed %}
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="{{ about.image.url }}">
                    <h5 class="fw-bold mb-0"><strong>{{ about.full_name }}</strong></h5>
                    <p class="text-muted mb-2">{{ about.profession }}</p>
                </div>
            </div>
            {% endfor %}
            <!-- About end -->
        </div>
    </div>
</section>
{% endblock %}
